/* Google fonts
font-family: 'Open Sans', sans-serif;
/* Stylesheet for our mobile app */ 
/* Reset */
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 
{
    margin:0;
    padding:0;

}

body{
    background-color: rgb((255, 230, 193));
    font-family: "Arial"
}

div#container{
    width:100%;
    border-top:3px solid rgb(255, 230, 193);
    border-bottom:3px solid rgb(255, 230, 193);
    background-color: rgb(255, 255, 255);
}
header{
    width:91.5%;
    padding:50px;
    background-color: rgb(255, 255, 255);
}
img#logo{
    display:block;
    margin:auto;
    width:15%;
}
img#newProducts{
    display:block;
    margin:auto;
    width:25%;
}
header h1{
    text-align:center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 5em;
}
div#content{
    text-align: center;
    width:100%;
    background-color: rgb(255, 230, 193);
    font-size: 2em;
    border:2px,solid, rgb(255,230,193);
    color:white;
}
.icon-bar{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color:rgb(255,230,193);
    overflow:auto;
}
.icon-bar a {
    float:left;
    width:20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}
.icon-bar a:hover{
    background-color: white;
    color:rgb(255,230,193);
}
.active{
    background-color: rgb(245,220,183);
    color:rgb(245,245,245);
}
/* nav{
    background-color: rgb(255, 207, 50);
}
nav ul{
    width:21%;
    margin:auto;
    list-style: none;
}
nav ul li a{
    float:left;
    display: block;
    padding:5px 15px;
    background-color:rgb(255, 215, 86);
    border-right: 2px inset white;
}

nav a{
    text-decoration:none;
    color: black;
}
nav ul li a:hover{
    color: white;
}

footer{
    position: absolute;
    width: 100%;
    height:50px;
    bottom:0;
    left:0;
    background-color: rgb(255, 230, 193);
} */
/* div.keepOpen{
    clear: both;
}

@media screen and (max-width:600px) {
    div#container{
        width: 100%;
    }
    nav ul li a{
        float:none;
        text-align:center;
    }
} */